[submodule "Submodules/VLCKit"]
	path = Submodules/VLCKit
	url = https://code.videolan.org/videolan/VLCKit.git
[submodule "Submodules/RaptureXML"]
	path = Submodules/RaptureXML
	url = https://github.com/ZaBlanc/RaptureXML.git
[submodule "Submodules/MagicalRecord"]
	path = Submodules/MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
[submodule "Submodules/SDWebImage"]
	path = Submodules/SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "Submodules/DACircularProgress"]
	path = Submodules/DACircularProgress
	url = https://github.com/danielamitay/DACircularProgress.git
[submodule "Submodules/AFNetworking"]
	path = Submodules/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
