<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>23775</key>
	<array>
		<string>2</string>
		<string>70538</string>
		<string>1988</string>
		<string>422546</string>
		<string>1989</string>
		<string>73427589</string>
		<string>78103603</string>
		<string>639512</string>
		<string>7513588</string>
		<string>607160</string>
		<string>1991</string>
		<string>69663</string>
		<string>28713</string>
		<string>23786</string>
		<string>1987</string>
		<string>70533</string>
	</array>
	<key>80934</key>
	<array>
		<string>82470</string>
		<string>82473</string>
		<string>82480</string>
		<string>82484</string>
		<string>82489</string>
		<string>82493</string>
		<string>82496</string>
		<string>82476</string>
		<string>82488</string>
		<string>82490</string>
	</array>
	<key>80925</key>
	<array>
		<string>82316</string>
		<string>82325</string>
		<string>82329</string>
		<string>82333</string>
		<string>82339</string>
		<string>82348</string>
		<string>82331</string>
		<string>82318</string>
		<string>82335</string>
	</array>
	<key>187077</key>
	<array>
		<string>188005</string>
		<string>188015</string>
		<string>188029</string>
		<string>188000</string>
		<string>188012</string>
		<string>188018</string>
		<string>188001</string>
	</array>
	<key>45205</key>
	<array>
		<string>45234</string>
		<string>45252</string>
		<string>45256</string>
		<string>45253</string>
		<string>82500</string>
		<string>82348</string>
		<string>45254</string>
		<string>45246</string>
		<string>82498</string>
		<string>82420</string>
	</array>
	<key>968815</key>
	<array>
		<string>969014</string>
		<string>969016</string>
		<string>969022</string>
		<string>969023</string>
	</array>
</dict>
</plist>
